body {
    background-color: black;
}

.img-fluid {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.bounce {
    animation: bounce 30s both;
}


@keyframes bounce {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    1% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    2% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    3% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    4% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    5% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    7% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    8% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    90% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }

    91% {
        transform: translateZ(-100px);
        animation-timing-function: ease-in;
    }

    92% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }

    93% {
        transform: translateZ(-110px);
        animation-timing-function: ease-in;
    }

    94% {
        transform: translateZ(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateZ(-200px);

        animation-timing-function: ease-in;
    }

    96% {
        transform: translateZ(0) scale(1);
        animation-timing-function: ease-out;
    }

    98% {
        opacity: 1;
    }

    100% {
        transform: translateZ(-900px) scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
}

    
