.img-fluid {
  padding: 10% 0;
}
.grayscale {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	
}
.grayscale-off {
  -webkit-transition: 10s ease-in-out;
	transition: 10s ease-in-out;
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}