body {
        background-color: black;
}

.img-fluid {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
}

.roll-in {
        animation: roll-in-top 30s ease-out both;
}

@keyframes roll-in-top {
        0% {
                transform: translateY(-800px) rotate(-540deg);
                opacity: 0;
        }

        5% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
        }

        95% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
        }

        100% {
                transform: translateY(-800px) rotate(-540deg);
                opacity: 0;
        }
}