.img-fluid {
  padding: 10% 0;
}

.zoom-out {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0;
}

.zoom-in {
  -webkit-transition: 20s linear;
  transition: 20s linear;
  -webkit-transform: scale(1);
	transform: scale(1);
}