body {
  background-color: black;
}
#main_image img {
    width: 100%;
}
footer {
    background-color: #E80040;
}


/* ANIMATION */
@charset "UTF-8";


@-webkit-keyframes bounceInUp {
from,
60%,
75%,
90%,
to {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

from {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
}

60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes bounceInUp {
from,
60%,
75%,
90%,
to {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

from {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
}

60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.bounceInUp {
-webkit-animation-name: bounceInUp;
animation-name: bounceInUp;
}


@-webkit-keyframes bounceOutDown {
20% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

40%,
45% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
}

@keyframes bounceOutDown {
20% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

40%,
45% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

to {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
}

.bounceOutDown {
-webkit-animation-name: bounceOutDown;
animation-name: bounceOutDown;
}



.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.animated.infinite {
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

.animated.delay-1s {
-webkit-animation-delay: 1s;
animation-delay: 1s;
}

.animated.delay-2s {
-webkit-animation-delay: 2s;
animation-delay: 2s;
}

.animated.delay-3s {
-webkit-animation-delay: 3s;
animation-delay: 3s;
}

.animated.delay-4s {
-webkit-animation-delay: 4s;
animation-delay: 4s;
}

.animated.delay-5s {
-webkit-animation-delay: 5s;
animation-delay: 5s;
}

.animated.fast {
-webkit-animation-duration: 800ms;
animation-duration: 800ms;
}

.animated.faster {
-webkit-animation-duration: 500ms;
animation-duration: 500ms;
}

.animated.slow {
-webkit-animation-duration: 2s;
animation-duration: 2s;
}

.animated.slower {
-webkit-animation-duration: 3s;
animation-duration: 3s;
}

@media (print), (prefers-reduced-motion) {
.animated {
  -webkit-animation: unset !important;
  animation: unset !important;
  -webkit-transition: none !important;
  transition: none !important;
}
}
